<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" media="screen,projection"/>
    <meta charset="UTF-8">
    <!-- Adding meta tag for better mobile fit control -- Srikar Yaganti    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- end  -->
    <title>ToDoTasks</title>
</head>
<body class="lead">
<h1>
    <u>To Do Items Are: </u><br><br>
</h1>
<div class="container">
<table border="1" class="table table-striped">
    <thead class="thead-inverse">
    <tr>
        <th>Description</th>
        <th>Completed</th>
        <th>Due By</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items%}
    <tr>
        <td class="text-capitalize">{{item.description}}</td>
        <td>{{item.completed}}</td>
        <td>{{item.due_by}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>
